.widgetlg{
    flex: 2;
    padding: 20px;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}
.widgetlgTitle{
    font-size: 22px;
    font-weight: 600;
}
.widgetlgTable{
    width: 100px;
    border-spacing: 20px;
}
.widgetlgTh{
text-align: left;
/* flex-direction: row;
justify-content:space-between; */
}
.widgetlgTr{
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    row-gap: 5px;
}
.widgetlgUser{
    display: flex;
    align-items: center;
}
.widgetlgimg{
    width:40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}
.widgetlgDate,.widgetlgAmount{
    font-weight: 300;

}
.widgetlgButton{
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
}
.widgetlgButton.approved{
    color: green;
    background-color: #e5faf2;
}
.widgetlgButton.declined{
    color: #d95087;
    background-color:#fff0f1;
}
.widgetlgButton.pending{
    color:blue;
    background-color: #e5faf2;
}
